asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
DateTime==5.5
diff-match-patch==20241021
Django==5.1.7
django-cors-headers==4.7.0
django-filter==25.1
django-import-export==4.3.7
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
drf-yasg==1.21.10
idna==3.10
inflection==0.5.1
packaging==25.0
pillow==11.1.0
PyJWT==2.9.0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3
setuptools==79.0.1
sqlparse==0.5.3
tablib==3.8.0
tzdata==2025.1
unicode==2.9
Unidecode==1.4.0
uritemplate==4.1.1
urllib3==2.4.0
zope.interface==7.2
