{% extends 'modulo/base.html' %}

{% block title %}Inicio - Venta de Carros{% endblock %}

{% block content %}
    <h1>Bienvenido a la venta de carros</h1>
    <p>Esta es una página de carros</p>
    <div class="carrosdisp">
    <h2>Carros disponibles</h2>
        <ol>
            <li><a href="https://listado.mercadolibre.com.co/toyota-hilux" target="blank">Toyota Hilux</a></li>
            <li><a href="https://listado.mercadolibre.com.co/ford-raptor-2024?sb=all_mercadolibre#D[A:ford%20raptor%202024]" target="blank">Ford Raptor</a></li>
        </ol>
    </div>
{% endblock %}
